name: CinePro
services:
    backend:
        build: .
        ports:
            - '3002:3002'
        env_file:
            - .env
        restart: unless-stopped
        sysctls:
            - net.ipv6.conf.all.disable_ipv6=1
