name: Build
on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v1
      - run: bun install
      - run: bun build src/index.js --compile --outfile streaming-scraper
      - uses: actions/upload-artifact@v3
        with:
          name: streaming-scraper-${{ matrix.os }}
          path: streaming-scraper*