name: Build
on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - run: bun install
      - name: Build
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            bun build src/index.js --compile --outfile streaming-scraper.exe
          else
            bun build src/index.js --compile --outfile streaming-scraper
          fi
        shell: bash
      - uses: actions/upload-artifact@v4
        with:
          name: streaming-scraper-${{ matrix.os }}
          path: streaming-scraper*